<div id="<%= dom_id report %>">
  <p>
    <strong>Date of incident:</strong>
    <%= report.date_of_incident %>
  </p>
  <p>
    <strong>Time of incident:</strong>
    <%= report.time_of_incident.strftime("%k:%M") %>
  </p>
  <p>
    <strong>Type of incident:</strong>
    <%= report.type_of_incident %>
  </p>
  <p>
    <strong>Location of incident:</strong>
    <%= report.location_of_incident %>
  </p>
  <p>
    <strong>Initiator of incident:</strong>
    <%= report.initiator_of_incident %>
  </p>
  <p>
    <strong>Unit identity:</strong>
    <%= report.unit_identity %>
  </p>
  <p>
    <strong>Details of incident:</strong>
    <%= report.details_of_incident %>
  </p>
  <p>
    <strong>Action taken:</strong>
    <%= report.action_taken %>
  </p>
  <p>
    <strong>Incident status:</strong>
    <%= report.incident_status %>
  </p>
  <p>
    <strong>Further information:</strong>
    <%= report.further_information %>
  </p>
  <p>
    <strong>Signed by:</strong>
    <%= report.signed_by %>
  </p>
  <p>
    <% report.user_id %>
  </p>
</div>
