<p style="color: green"><%= notice %></p>

<%= render @report %>

<div>
  <%= link_to "Back to reports", reports_path, class:"btn btn-dark" %>
  <%= link_to "Edit this report", edit_report_path(@report), class:"btn btn-warning" %> |
  
  <%= button_to "Destroy this report", @report, method: :delete, class:"btn btn-danger" %>
</div>
